<div class="container mt-5">
    <h2>Gestion des Agences</h2>
    <div class="container mt-5">
        <button type="button" class="btn btn-outline-secondary me-2 mb-3" data-bs-toggle="modal" data-bs-target="#agencyModal">
            Ajouter une nouvelle Agence
        </button>
        <button type="button" class="btn btn-outline-secondary me-2 mb-3" data-bs-toggle="modal" data-bs-target="#agencyImportExcelModal">
            Import EXCEL
        </button>
        <input type="text" [(ngModel)]="searchText" class="form-control mb-3" placeholder="Rechercher...">
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>CODE AGENCE</th>
                <th>NOM AGENCE</th>
                <th>DESCRIPTION</th>
                <th>DATE CREATION</th>
                <th class="text-center">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let branch of filteredBranchs | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <td>{{ branch.id }}</td>
                <td>{{ branch.branchCode }}</td>
                <td>{{ branch.name }}</td>
                <td>{{ branch.description }}</td>
                <td>{{ branch.createAt }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" (click)="editBranch(branch)" data-bs-target="#agencyEditModal">
                        Edit
                    </button>
                    <button class="btn btn-danger" (click)="openDeleteModal(branch.id)" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- Modal pour ajouter une nouvelle agence -->
<div class="modal fade" id="agencyModal" tabindex="-1" aria-labelledby="agencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agencyModalLabel">Créer une nouvelle Agence</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="agencyForm" (ngSubmit)="onSubmit()" #branchForm="ngForm">
                    <div class="form-group mb-3">
                        <label for="codeBranch" class="form-label">Code Agence</label>
                        <input type="number" class="form-control" required #codeBranch="ngModel" [(ngModel)]="branch.branchCode" name="branchCode" id="codeBranch">
                    </div>
                    <div *ngIf="codeBranch.touched && codeBranch.invalid" class="alert alert-danger">Code agence est obligatoire !</div>
                    <div class="form-group mb-3">
                        <label for="branchName" class="form-label">Nom de l'agence</label>
                        <input type="text" class="form-control" required #name="ngModel" [(ngModel)]="branch.name" name="name" id="branchName">
                    </div>
                    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">Nom agence est obligatoire !</div>
                    <div class="form-group mb-3">
                        <label for="branchDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" required #description="ngModel" [(ngModel)]="branch.description" name="description" id="branchDescription">
                    </div>
                    <div *ngIf="description.touched && description.invalid" class="alert alert-danger">Description est obligatoire !</div>
                    <button class="btn btn-success" [disabled]="!branchForm.form.valid" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour modifier une agence -->
<div class="modal fade" id="agencyEditModal" tabindex="-1" aria-labelledby="agencyEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agencyEditModalLabel">Modifier Agence</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="agencyEditForm" (ngSubmit)="onEditSubmit()" #editBranchForm="ngForm">

                    <div class="form-group mb-3">
                        <label for="editCodeBranch" class="form-label">Code Agence</label>
                        <input type="number" class="form-control"   [disabled]="true" required #editCodeBranch="ngModel" [(ngModel)]="branch.branchCode" name="branchCode" id="editCodeBranch">
                    </div>
                    <div *ngIf="editCodeBranch.touched && editCodeBranch.invalid" class="alert alert-danger">Code agence est obligatoire !</div>
                    <div class="form-group mb-3">
                        <label for="editBranchName" class="form-label">Nom de l'agence</label>
                        <input type="text" class="form-control" required #editName="ngModel" [(ngModel)]="branch.name" name="name" id="editBranchName">
                    </div>
                    <div *ngIf="editName.touched && editName.invalid" class="alert alert-danger">Nom agence est obligatoire !</div>
                    <div class="form-group mb-3">
                        <label for="editBranchDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" required #editDescription="ngModel" [(ngModel)]="branch.description" name="description" id="editBranchDescription">
                    </div>
                    <div *ngIf="editDescription.touched && editDescription.invalid" class="alert alert-danger">Description est obligatoire !</div>
                    <button class="btn btn-success" [disabled]="!editBranchForm.form.valid" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal de confirmation de suppression -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmer la suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cette agence ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">Supprimer</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="agencyImportExcelModal" tabindex="-1" aria-labelledby="agencyImportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agencyImportModalLabel">Importer liste des agences</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" class="form-control mb-3">

            </div>
        </div>
    </div>
</div>
