.container {
  padding: 20px;
  background-color: #f8f9fa;
}

h5 {
  color: #b17b2a;
}

p {
  color: #000000;
  font-size: 20px;
}

canvas {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
.chart-small {
  width: 100%; /* Réduisez la taille à un pourcentage souhaité */
  max-width: 400px; /* Limite maximale */
  height: 300px; /* Hauteur fixe ou ajustable */
}
