<div class="container statistics-container">
  <h2>Nombre des personnes Scorées</h2>
<div class="container statistics-container">
    <div class="statistic-block" *ngFor="let clientScore of clientsScore">
    <h3>{{clientScore.segmentCode}}</h3>
    <p>{{clientScore.nb}}</p>
  </div>
</div>
</div>
<div class="container col-md-6 d-flex">
  <canvas id="canvas">{{ chart }}</canvas>
  <canvas id="Pie">{{ chartPie }}</canvas>
</div>

<div class="container col-md-6 d-flex">
  <canvas id="PolarArea">{{ chartPolarArea }}</canvas>
  <canvas id="Bar">{{ chartBar }}</canvas>
</div>

<br><br><br>