<div class="container statistics-container mt-5">
  <h3 class="mb-4 text-center">Nombre des personnes Scorées</h3>
  <div class="row justify-content-center text-center">
    <div class="col-md-4 mb-3" *ngFor="let clientScore of clientsScore">
      <div class="statistic-block p-3 border rounded">
        <h5>{{ clientScore.segmentCode }}</h5>
        <p>{{ clientScore.nb }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Bloc pour le meilleur PD pour segment entreprise -->
    <div class="col-md-5 mb-4">
      <div class="p-3 border rounded">
        <h5 class="text-center">Meilleur PD pour Segment Entreprise</h5>
        <p class="text-center">{{ bestPDSegmentEntreprise }}</p>
      </div>
    </div>

    <!-- Bloc pour le meilleur PD pour segment particuliers -->
    <div class="col-md-5 mb-4">
      <div class="p-3 border rounded">
        <h5 class="text-center">Meilleur PD pour Segment Particuliers</h5>
        <p class="text-center">{{ bestPDSegmentParticuliers }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h4 class="mb-4 text-center">Liste des Personnes Scorées</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let person of scoredPersons">
      {{ person.name }} - {{ person.score }}
    </li>
  </ul>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 mb-4">
      <canvas id="canvasEntreprise">{{ chartEntreprise }}</canvas>
    </div>
    <div class="col-md-5 mb-4">
      <canvas id="canvas">{{ chartParticuliers }}</canvas>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 mb-4">
      <canvas id="PieEntreprise">{{ chartPieEntreprise }}</canvas>
    </div>
    <div class="col-md-5 mb-4">
      <canvas id="Pie">{{ chartPieParticuliers }}</canvas>
    </div>
  </div>
</div>
