
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a routerLink="dashboard" class="nav-link px-2 link-secondary ">Dashboad</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-dark"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Paramétrage Referentiel
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="branch">Gestion Agences </a></li>
                            <li><a class="dropdown-item" routerLink="activitySector">Gestion secteurs d'activités</a></li>
                            <li><a class="dropdown-item" routerLink="financingNature">Gestion Nature de financement</a></li>
                            <li><a class="dropdown-item" routerLink="financingType">Gestion type de financement</a></li>
                            <li><a class="dropdown-item" routerLink="juridicalForm">Gestion Forme Juridique</a></li>
                            <li><a class="dropdown-item" routerLink="currency">Gestion Devises</a></li>
                            <!--li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <hr-->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-dark"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Paramétrage Scoring
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="segmentsClients">Gestion Segments Clients  </a></li>
                            <li><a class="dropdown-item" routerLink="personnesPhysiques">Gestion Personnes Physiques</a></li>
                            <li><a class="dropdown-item" routerLink="personnesMorales">Gestion Personnes Morales</a></li>
                            <li><a class="dropdown-item" routerLink="notesClients">Gestion Notes clients</a></li>
                            <!--li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <hr-->
                        </ul>
                    </li>
                    <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>

                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <div class="dropdown text-end">
                    <!--a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"-->
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" >
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" routerLink="#">New project...</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
