<header class="p-3 mb-3 border-bottom" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a routerLink="dashboard" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="logo-societe.png" alt="Logo Société" width="150" height="50" class="me-2">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="dashboard" class="nav-link px-2 link-secondary">Dashboard</a></li>
                <li><a routerLink="clientsNotes" class="nav-link px-2 link-dark">Consultation notes client</a></li>
                <li *ngIf="canSeeScoring()">
                    <a routerLink="personnesPhysiques" class="nav-link px-2 link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Saisie note client PP
                </a></li>
                <li *ngIf="canSeeScoring()">
                    <a routerLink="personnesMorales" class="nav-link px-2 link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Saisie note client PM
                    </a>
                </li>
                <li *ngIf="false" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Saisie / Génération note client PP
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="personnesPhysiques">Saisie Données Scoring Personnes Physiques</a></li>
                        <li><a class="dropdown-item" routerLink="generateNotePart">Génération note Client PP</a></li>
                    </ul>
                </li>
                <li *ngIf="false" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Saisie / Génération note client PM
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="personnesMorales">Saisie Données Scoring Personnes Morales </a></li>
                        <li><a class="dropdown-item" routerLink="generateNoteCorpo">Génération note Client PM</a></li>

                    </ul>
                </li>
                <li *ngIf="canSeeReferentiel()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Référentiel
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="branch">Gestion Agences</a></li>
                        <li><a class="dropdown-item" routerLink="activitySector">Gestion secteurs d'activités</a></li>
                        <li><a class="dropdown-item" routerLink="financingNature">Gestion Nature de financement</a></li>
                        <li><a class="dropdown-item" routerLink="financingType">Gestion type de financement</a></li>
                        <li><a class="dropdown-item" routerLink="juridicalForm">Gestion Forme Juridique</a></li>
                        <li><a class="dropdown-item" routerLink="segmentsClients">Gestion Segments Clients</a></li>
                        <li><a class="dropdown-item" routerLink="currency">Gestion Devises</a></li>
                    </ul>
                </li>
                <li *ngIf="canSeeSecurite()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sécurité
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="users">Gestion Utilisateurs</a></li>
                        <li><a class="dropdown-item" routerLink="groups">Gestion Groupes</a></li>
                        <li><a class="dropdown-item" routerLink="organizationUnit">Gestion Personnels de la banque</a></li>
                    </ul>
                </li>
                <li *ngIf="canSeeValidation()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Génération & Validation
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="generateNotePart">Personnes Physiques</a></li>
                        <li><a class="dropdown-item" routerLink="generateNoteCorpo"> Personnes Morales</a></li>
                    </ul>
                </li>
                <li *ngIf="canSeeScoring()">
                    <a routerLink="variablesScoring" class="nav-link px-2 link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Variables Scoring
                </a></li>
                <!--li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Scoring
                    </a>
                    <ul class="dropdown-menu">
                        
                        <li><a class="dropdown-item" routerLink="personnesPhysiques">Gestion Personnes Physiques</a></li>
                        <li><a class="dropdown-item" routerLink="personnesMorales">Gestion Personnes Morales</a></li>
                        <li><a class="dropdown-item" routerLink="notesClients">Gestion Notes clients</a></li>
                    </ul>
                </!--li-->
                
            </ul>



            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown">
                    <img src="logoUser.svg" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    
                    <!--li><hr class="dropdown-divider"></!--li-->
                    <li><a class="dropdown-item" (click)="logout()">Déconnexion ({{ userCode }}) </a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="font-weight: bold; color: #b17b2a;">{{ currentSection }}</li> <!-- Dynamisez ce texte -->
        </ol>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
