<div class="container mt-2">
    <h4>Gestion des Groupes</h4>
    <div class="container mt-2">
        <button type="button" class="btn btn-custom-primary me-2 mb-3 btn-small" data-bs-toggle="modal" data-bs-target="#groupModal">
            Ajouter un nouveau secteur d'Activité
        </button>
        <button type="button" class="btn btn-custom-secondary me-2 mb-3 btn-small" data-bs-toggle="modal" data-bs-target="#groupImportExcelModal">
            Import EXCEL
        </button>

        <input type="text" [(ngModel)]="searchText" class="form-control mb-3 small-input" placeholder="Rechercher...">
    </div>
    <table class="table table-bordered table-small">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom Groupe</th>

                <th class="text-center">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of filteredGroups | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <td>{{ group.id }}</td>
                <td>{{ group.groupName }}</td>

                <td class="text-center">
                    <button type="button" class="btn btn-custom-warning me-2 btn-small" data-bs-toggle="modal" (click)="editGroup(group)" data-bs-target="#groupEditModal">
                        Modifier
                    </button>
                    <button class="btn btn-custom-danger btn-small" (click)="openDeleteModal(group.id)" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Supprimer</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!-- Modal pour ajouter un nouveau secteur -->
<div class="modal fade" id="groupModal" tabindex="-1" aria-labelledby="groupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="groupModalLabel">Créer un nouveau Groupe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="groupForm" (ngSubmit)="onSubmit()" #groupForm="ngForm">
                    <div class="form-group mb-3">
                        <label for="groupName" class="form-label small-label">Nom Groupe</label>
                        <input type="text" class="form-control small-input" required #groupName="ngModel" [(ngModel)]="group.groupName" name="groupName" id="groupName">
                    </div>
                    <div *ngIf="groupName.touched && groupName.invalid" class="alert alert-danger">Nom groupe est obligatoire !</div>

                    <button class="btn btn-custom-primary me-2 mb-3 btn-small" [disabled]="!groupForm.form.valid" type="submit">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour modifier un nouveau secteur  -->
<div class="modal fade" id="groupEditModal" tabindex="-1" aria-labelledby="groupEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="groupEditModalLabel">Modifier Groupe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="groupEditForm" (ngSubmit)="onEditSubmit()" #editGroupForm="ngForm">

                    <div class="form-group mb-3">
                        <label for="editGroupName" class="form-label small-label">Nom du Groupe</label>
                        <input type="text" class="form-control small-input"   required #editGroupName="ngModel" [(ngModel)]="group.groupName" name="editGroupName" id="editGroupName">
                    </div>
                    <div *ngIf="editGroupName.touched && editGroupName.invalid" class="alert alert-danger">Nom du Groupe est obligatoire !</div>

                    <button class="btn btn-custom-primary me-2 mb-3 btn-small" [disabled]="!editGroupForm.form.valid" type="submit">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmation de suppression -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmer la suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size: 13px;">
                Êtes-vous sûr de vouloir supprimer ce Groupe ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary me-2 mb-3 btn-small" (click)="confirmDelete()">Supprimer</button>
                <button type="button" class="btn btn-outline-secondary me-2 mb-3 btn-small"  data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>