.btn-custom-primary { background-color: #ffffff; color: #797979; border-color: #b17b2a; }
.btn-custom-secondary { background-color: #ffffff; color: #797979; border-color: #b17b2a; }
.btn-custom-tertiary { background-color: #d1963d; color: #fff; border-color: #d1963d; }
.btn-custom-warning { background-color: #ffffff; color: #969696; border-color: #969696; }
.btn-custom-danger { background-color: #dbac67; color: #fff; border-color: #dbac67; }
.btn-custom-light { background-color: #e0b77b; color: #000; border-color: #e0b77b; }
.btn-custom-muted { background-color: #e5c390; color: #000; border-color: #e5c390; }

.btn-custom:hover {
    opacity: 0.9;
}

.form-control-custom {
    border: 2px solid #c6892f;
}



.btn-custom-gradient {
  background: linear-gradient(135deg, #b17b2a, #f2c97d);
  border: none;
  color: white; /* Ajustez cette couleur selon le contraste souhaité */
}


.modal-dialog {
    max-width: 1300px; /* Ajustez la largeur selon vos besoins */
}
/* Styles pour le conteneur général */
.container {
    background-color: #FFFFFF; /* Couleur de fond blanche */
    color: #000000; /* Texte gris foncé pour un bon contraste */
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #E0E0E0; /* Ombre légère pour la profondeur */
  }
  /* Styles pour les titres */
  h1, h2 {
    color: #000000; /* Noir pour les titres */
    margin-bottom: 20px;
    border-bottom: 2px solid #E0E0E0; /* Ligne de séparation en bas */
    padding-bottom: 10px;
  }
  
  input[type="text"]:focus, select:focus {
    border-color: #f2c97d; /* Bordure rouge en focus */
    box-shadow: 0 0 8px #E0E0E0; /* Ombre rouge légère en focus */
    outline: none; /* Supprimer le contour par défaut */
  }
  
  /* Styles pour les groupes de formulaire */
  .form-group {
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #b17b2a; /* Rouge au survol */
    color: #ffffff;
    box-shadow: 0 4px 12px #E0E0E0; /* Ombre rouge plus prononcée au survol */
  }

  .table-small th, .table-small td {
    padding: 8px; /* Réduit l'espacement interne */
    font-size: 13px; /* Réduit la taille de la police */
    height: 20px !important;
  }
  
  .container-small {
    padding: 10px; /* Réduit les marges internes */
    margin-bottom: 10px; /* Réduit les marges externes */
  }
  .btn-small {
    padding: 4px 8px !important;
    font-size: 13px !important;
    line-height: 1.2 !important;
    height: 35px !important;
  }
  .small-input {
    font-size: 13px; /* Taille de la police */
    height: 35px; /* Ajustez la hauteur */
    padding: 4px; /* Ajustez les marges internes */
  }
  
  .small-label {
    font-size: 13px; /* Taille de la police */
    font-weight: normal; /* Optionnel : ajuster l'épaisseur */
    margin-bottom: 4px; /* Optionnel : réduire l'espace sous le label */
  }
  .small-select {
    font-size: 13px;
    padding: 2px 6px;
    height: 35px; /* Fixe une hauteur spécifique */
    width: 100%; /* Optionnel : ajuste à la largeur du conteneur */
  }
  
  h4{
    color: #474b4d;
  }