<div class="container mt-5">
    <h2>Gestion des Natures de financement</h2>
    <div class="container mt-5">
        <button type="button" class="btn btn-outline-secondary me-2 mb-3" data-bs-toggle="modal" data-bs-target="#finNatureModal">
            Ajouter une nouvelle Nature de Financement
        </button>
        <button type="button" class="btn btn-outline-secondary me-2 mb-3" data-bs-toggle="modal" data-bs-target="#finNatureImportExcelModal">
            Import EXCEL
        </button>
        <input type="text" [(ngModel)]="searchText" class="form-control mb-3" placeholder="Rechercher...">
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>CODE NATURE DE FINANCEMENT</th>
                <th>NOM  NATURE DE FINANCEMENT</th>
                <th>DATE CREATION</th>
                <th class="text-center">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let finNature of filteredFinancingNature | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <td>{{ finNature.id }}</td>
                <td>{{ finNature.projectNature }}</td>
                <td>{{ finNature.description }}</td>
                <td>{{ finNature.createAt }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" (click)="editFinancingNature(finNature)" data-bs-target="#finNatureEditModal">
                        Edit
                    </button>
                    <button class="btn btn-danger" (click)="openDeleteModal(finNature.id)" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- Modal pour ajouter une nouvelle Nature de financment  -->
<div class="modal fade" id="finNatureModal" tabindex="-1" aria-labelledby="finNatureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finNatureModalLabel">Créer une nouvelle  Nature de financement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="finNatureForm" (ngSubmit)="onSubmit()" #finNatureForm="ngForm">
                    <div class="form-group mb-3">
                        <label for="codeFinNature" class="form-label">Code Nature de Financement</label>
                        <input type="text" class="form-control" required #codeFinNature="ngModel" [(ngModel)]="finNature.projectNature" name="codeFinNature" id="codeFinNature">
                    </div>
                    <div *ngIf="codeFinNature.touched && codeFinNature.invalid" class="alert alert-danger">Code Nature de Financement est obligatoire !</div>
                    <div class="form-group mb-3">
                        <label for="finNatureName" class="form-label">Nom Nature de Financement</label>
                        <input type="text" class="form-control" required #finNatureyName="ngModel" [(ngModel)]="finNature.description" name="finNatureyName" id="finNatureyName">
                    </div>
                    <div *ngIf="finNatureyName.touched && finNatureyName.invalid" class="alert alert-danger">Nom Nature de Financement  est obligatoire !</div>

                    <button class="btn btn-success" [disabled]="!finNatureForm.form.valid" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal pour modifier une Nature de Financement  -->
<div class="modal fade" id="finNatureEditModal" tabindex="-1" aria-labelledby="finNatureEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finNatureEditModalLabel">Modifier Nature de Financement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="finNatureEditForm" (ngSubmit)="onEditSubmit()" #editFinNatureForm="ngForm">

                    <div class="form-group mb-3">
                        <label for="editCodeFinNature" class="form-label">Code Nature de Financement</label>
                        <input type="text" class="form-control"   [disabled]="true" required #editCodeFinNature="ngModel" [(ngModel)]="finNature.projectNature" name="finNatureCode" id="finNatureCode">
                    </div>
                    <div *ngIf="editCodeFinNature.touched && editCodeFinNature.invalid" class="alert alert-danger">Code Nature de Financement est obligatoire !</div>
                    <div class="form-group mb-3">
                        <label for="editFinNatureName" class="form-label">Nom Nature de Financement</label>
                        <input type="text" class="form-control" required #editName="ngModel" [(ngModel)]="finNature.description" name="name" id="editFinNatureName">
                    </div>
                    <div *ngIf="editName.touched && editName.invalid" class="alert alert-danger">Nom Nature de Financement est obligatoire !</div>
                    <button class="btn btn-success" [disabled]="!editFinNatureForm.form.valid" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal de confirmation de suppression -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmer la suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cette Nature de Financement
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">Supprimer</button>
            </div>
        </div>
    </div>
</div>