.btn-custom-primary { background-color: #ffffff; color: #797979; border-color: #dbac67; }
.btn-custom-secondary { background-color: #ffffff; color: #797979; border-color: #dbac67; }
.btn-custom-success { background-color: #ffffff; color: #797979; border-color: #dbac67; }

.btn-custom-tertiary { background-color: #d1963d; color: #fff; border-color: #d1963d; }
.btn-custom-warning { background-color: #ffffff; color: #969696; border-color: #969696; }
.btn-custom-danger { background-color: #dbac67; color: #fff; border-color: #dbac67; }
.btn-custom-light { background-color: #e0b77b; color: #000; border-color: #e0b77b; }
.btn-custom-muted { background-color: #e5c390; color: #000; border-color: #e5c390; }

/* Styles pour le conteneur général */
.container {
    background-color: #FFFFFF; /* Couleur de fond blanche */
    color: #000000; /* Texte gris foncé pour un bon contraste */
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la profondeur */
  }
  /* Styles pour les titres */
  h1, h2 {
    color: #000000; /* Noir pour les titres */
    margin-bottom: 20px;
    border-bottom: 2px solid #E0E0E0; /* Ligne de séparation en bas */
    padding-bottom: 10px;
  }
  
  input[type="text"]:focus, select:focus {
    border-color: #b17b2a; /* Bordure rouge en focus */
    box-shadow: 0 0 8px #c49754; /* Ombre rouge légère en focus */
    outline: none; /* Supprimer le contour par défaut */
  }
  textarea:focus, select:focus {
    border-color: #b17b2a; /* Bordure rouge en focus */
    box-shadow: 0 0 8px #c49754; /* Ombre rouge légère en focus */
    outline: none; /* Supprimer le contour par défaut */
    
  }
  /* Styles pour les groupes de formulaire */
  .form-group {
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #b17b2a; /* Rouge au survol */
    box-shadow: 0 4px 12px #c4b198; /* Ombre rouge plus prononcée au survol */
    color: #ffffff; /* Couleur blanche */
    outline: none; /* Supprimer le contour par défaut */
  }
  
  #retourAnalyste {
    min-height: 10em; /* Force le champ à avoir une hauteur de 5 lignes */
  }
/* detail-button.component.css */
.modal-dialog {
    max-width: 1500px; /* Ajustez la largeur selon vos besoins */
}

/* styles.css ou le fichier CSS associé */
.form-row {
    display: flex;
    justify-content: space-between; /* Ajustez l'espacement entre les champs */
}

.form-group {
    flex: 1; /* Permet aux groupes de prendre une largeur égale */
}
/* styles.css ou le fichier CSS associé */
.custom-container {
    border: 1px solid #ccc; /* Bordure grise */
    padding: 1rem; /* Espacement intérieur */
    border-radius: 0.5rem; /* Coins arrondis */
    margin-bottom: 1rem; /* Espacement en bas */
}
hr {
    border: 1px solid #ccc; /* Couleur et épaisseur de la ligne */
    margin: 1rem 0; /* Espacement vertical */
}

.table-small th, .table-small td {
    padding: 8px; /* Réduit l'espacement interne */
    font-size: 13px; /* Réduit la taille de la police */
    height: 20px !important;
  }
  .container-small {
    padding: 10px; /* Réduit les marges internes */
    margin-bottom: 10px; /* Réduit les marges externes */
  }
  .btn-small {
    padding: 4px 8px !important;
    font-size: 13px !important;
    line-height: 1.2 !important;
    height: 28px !important;
    border-radius: 10px;
  }
  .small-input {
    font-size: 13px; /* Taille de la police */
    height: 35px; /* Ajustez la hauteur */
    padding: 4px; /* Ajustez les marges internes */
  }
  
  .small-label {
    font-size: 13px; /* Taille de la police */
    font-weight: normal; /* Optionnel : ajuster l'épaisseur */
    margin-bottom: 4px; /* Optionnel : réduire l'espace sous le label */
  }
  .small-select {
    font-size: 13px;
    padding: 2px 6px;
    height: 35px; /* Fixe une hauteur spécifique */
    width: 100%; /* Optionnel : ajuste à la largeur du conteneur */
  }
  h4{
    color: #474b4d;
  }
  h5{
    color: #474b4d;
  }
  h6{
    color: #a0513f;
  }
  .bg-red {
    background-color: #f8d7da; /* Rouge clair */
    color: #842029; /* Rouge foncé */
  }
  
  .bg-green {
    background-color: #d4edda; /* Vert clair */
    color: #155724; /* Vert foncé */
  }
  
  .bg-orange {
    background-color: #fff3cd; /* Orange clair */
    color: #856404; /* Orange foncé */
  }
  
  .bg-default {
    background-color: #e2e3e5; /* Gris clair */
    color: #41464b; /* Gris foncé */
  }
  

  .status-accorde {
    /*background-color: #e8ffee; /* Vert clair */
    color: #155724;          /* Vert foncé */
    /*font-weight: bold;*/
  }
  
  .status-a-verifier {
    /*background-color: #ffe8ea; /* Rouge clair */
    color: #721c24;           /* Rouge foncé */
    /*font-weight: bold;*/
  }
  
  .status-encours {
    /*background-color: #e4fbff; /* Bleu clair */
    color: #0c5460;           /* Bleu foncé */
    /*font-weight: bold;*/
  }
  
  .status-attente-validation {
    /*background-color: #fff9e7; /* Orange clair */
    color: #856404;           /* Orange foncé */
    /*font-weight: bold;*/
  }
  