body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}
.container {
    text-align: center;
}
.error-code {
    font-size: 10rem;
    font-weight: bold;
    color: #b17b2a;
}
.error-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #c6892f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.home-button:hover {
    background-color: #d1963d;
}
