<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    
</head>
<body>
    <div class="container">
        <div class="error-code">404</div>
        <div class="error-message">Oups! La page que vous cherchez n'a pas été trouvée.</div>
        <a href="/" class="home-button">Retour à l'accueil</a>
    </div>
</body>
</html>
